@model ECommerce.Models.User


<h2>Details</h2>
<h1>@Html.DisplayFor(model => model.FullName)</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-5 col-xl-3 col-12 text-center">
            @if (!string.IsNullOrEmpty(Model.Photo))
            {
                <img src="@Url.Content(Model.Photo)" class="border shadow-lg img-fluid" style="height:auto" alt="User photo" />
            }
        </div>
        <div class="col-9">
            <div class="container">
                <div class="row">
                    <div>
                        <div class="col-lg-12">
                            <spam class="font-weight-bold">@Html.DisplayNameFor(model => model.City.Name): </spam>
                            <spam class="font-italic">@Html.DisplayFor(model => model.City.Name)</spam>
                        </div>
                        <div class="col-lg-12">
                            <spam class="font-weight-bold">@Html.DisplayNameFor(model => model.Company.Name): </spam>
                            <spam class="font-italic">@Html.DisplayFor(model => model.Company.Name)</spam>
                        </div>
                        <div class="col-lg-12">
                            <spam class="font-weight-bold">@Html.DisplayNameFor(model => model.Department.Name): </spam>
                            <spam class="font-italic">@Html.DisplayFor(model => model.Department.Name)</spam>
                        </div>
                        <div class="col-lg-12">
                            <spam class="font-weight-bold">@Html.DisplayNameFor(model => model.UserName): </spam>
                            <spam class="font-italic">@Html.DisplayFor(model => model.UserName)</spam>
                        </div>
                        <div class="col-lg-12">
                            <spam class="font-weight-bold">@Html.DisplayNameFor(model => model.Phone): </spam>
                            <spam class="font-italic">@Html.DisplayFor(model => model.Phone)</spam>
                        </div>
                        <div class="col-lg-12">
                            <spam class="font-weight-bold">@Html.DisplayNameFor(model => model.Address): </spam>
                            <spam class="font-italic">@Html.DisplayFor(model => model.Address)</spam>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12" style="margin-top:10px;margin-left:20px">
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }, new { @class = "btn btn-outline-secondary btn-sm" }) |
                    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-outline-secondary btn-sm" })
                </p>
            </div>
        </div>
    </div>